@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <img src="~/Content/Img/Home-Image1.png" class="img-responsive img-index">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-0">
            <img src="~/Content/Img/Green Planet.png" class="img-responsive" />
            <h3>Ayude al medioambiente</h3>
            <p style="overflow-wrap:break-word;">Con StillFood no solo ayudas a tu bolsillo, sino que también ayudas al mediambiente reduciendo el desperdicio de comida.</p>
        </div>

        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-0">
            <img src="~/Content/Img/PiggyBank.png" class="img-responsive" />
            <h3>Ahorre dinero</h3>
            <p style="overflow-wrap:break-word;">StillFood ofrece las ofertas de sus productos favoritos próximos a su fecha de vencimiento para que puedas adquirirlos a un menor precio.</p>
        </div>
        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-0">
            <img src="~/Content/Img/Comfort.png" class="img-responsive" />
            <h3>Compre On-line</h3>
            <p style="overflow-wrap:break-word;">Con StillFood podrás realizar tus compras desde la comodidad de tu hogar.</p>
        </div>
    </div>
</div>

<section class="parallax" id="section-1">
    <div class="container-fluid">
        <div class="row">
            <h1 class="index-tit">Para los minoristas</h1>
        </div>
    </div>
</section>

<section class="parallax" id="section-2" style="margin-top:25px;">
    <div class="container-fluid">
        <div class="row">
            <h1 class="index-tit">Para los consumidores</h1>
        </div>
    </div>
</section>

<section class="parallax">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="col-lg-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
</section>