@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <img src="~/Content/Img/Home-Image1.png" class="img-responsive img-index">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-0">
            <img src="~/Content/Img/Green Planet.png" class="img-responsive" />
            <h3>Ayude al medioambiente</h3>
            <p style="overflow-wrap:break-word;">Con StillFood no solo ayudas a tu bolsillo, sino que también ayudas al mediambiente reduciendo el desperdicio de comida.</p>
        </div>

        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-0">
            <img src="~/Content/Img/PiggyBank.png" class="img-responsive" />
            <h3>Ahorre dinero</h3>
            <p style="overflow-wrap:break-word;">StillFood ofrece las ofertas de sus productos favoritos próximos a su fecha de vencimiento para que puedas adquirirlos a un menor precio.</p>
        </div>
        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-lg-4 col-lg-offset-0">
            <img src="~/Content/Img/Comfort.png" class="img-responsive" />
            <h3>Compre On-line</h3>
            <p style="overflow-wrap:break-word;">Con StillFood podrás realizar tus compras desde la comodidad de tu hogar.</p>
        </div>
    </div>
</div>

<section class="parallax" id="section-1">
    <div class="container-fluid">
        <div class="row">
            <h1 class="index-tit">Para los minoristas</h1>
            <p class="index-txt">
                Adquiere un nuevo canal de venta, atrayendo a nueva clientela y a la vez reduciendo la cantidad de productos que debe desechar
                debido a que han pasado su tiempo preferente de consumo, aumentando así, sus ganancias y la ayuda con nuestro planeta.
            </p>
            <br />
            <p class="index-txt">
                Administre todos sus pedidos en un solo lugar, teniendo acceso al historial de pedidos, diferentes reportes para ayudar a su negocio y mucho más.
            </p>
        </div>
    </div>
</section>

<section class="parallax" id="section-2" style="margin-top:25px;">
    <div class="container-fluid">
        <div class="row">
            <h1 class="index-tit">Para los consumidores</h1>
            <p class="index-txt">
                Posibilidad de acceder desde cualquier lugar y en cualquier dispositivo para realizar sus compras, ahorrando tiempo y dinero.
            </p>
            <br />
            <p class="index-txt">
                El tiempo es algo esencial, es por eso que StillFood cuanta con una interfaz sencilla e intuitiva con distintos filtros para poder buscar los productos que mejor se ajusten a tus necesidades.
            </p>
            <br />
            <p class="index-txt">
                StillFood ofrece las ofertas de sus productos favoritos próximos a su fecha de vencimiento para que puedas adquirirlos a un menor precios, contribuyendo de esta manera a
                reducir los desperdicios que se generan, ayudando al medioambiente, su bolsillo y sin dejar de darse los gustos que usted desea.
            </p>

        </div>
    </div>
</section>
<div class="container-fluid pull-right">
    <div class="row">
        <ul class="social-network social-circle">
            <li><a href="https://www.facebook.com/StillFood-2083139358675919/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="@Url.Action("Contact","Home")" class="icoEmail" title="Contacto"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        </ul>

    </div>
</div>