@model  List<StillFood.Models.Comercio>

@{
    ViewBag.Title = "Comercios";
    Layout = "~/Views/Shared/_Layout.cshtml";

    StillFood.Models.Usuario wUsuario;

    if (this.Session["Usuario"] == null)
    { wUsuario = null; }
    else
    { wUsuario = (StillFood.Models.Usuario)this.Session["Usuario"]; }

    StillFood.WEB.Facade.FacadeSecurity wFacade = new StillFood.WEB.Facade.FacadeSecurity();
}

<div class="container-fluid" style="padding-left:0px; padding-right:0px; margin-bottom:30px;">
    <div class="comercio-banner-container">
        <img src="~/Content/Img/Comercios-Banner.jpeg" class="img-responsive comercio-banner" />
        <div class="banner-txt-centered">Comercios Disponibles</div>
    </div>
</div>

<div class="container" ng-app="ComerciosApp" ng-controller="ComercioController">
    <div class="row" style="padding-bottom:20px;">
        <div class="col-lg-8 col-lg-offset-2">
            <div id="custom-search-input">
                <div class="input-group col-lg-12">
                    <input type="text" class="form-control glowing-border" id="busqueda" placeholder="Buscar" name="pBusqueda" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" ng-click="Buscar()">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row" ng-repeat="comercio in Comercios track by $index">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="comercio-box effect2">
                    <div class="media">
                        <div class="media-left">
                            <img src="~/Content/Img/shop-icon.png" ng-show="comercio.Imagen.length == 0" class="media-object" style="width:150px; height:150px;">
                            <img src="~/Content/Img/Comercios/{{comercio.Imagen}}" ng-show="comercio.Imagen.length > 0" class="media-object" style="width:150px; height:150px;" />
                        </div>
                        <div class="media-body">
                            <div class="col-lg-12" style="padding-bottom:30px;">
                                <h4 class="media-heading" style="padding-top:7px; padding-left:4px;"><a class="nombre-comercio" href="~/Compras/Productos?pIdComercio={{comercio.Id}}">{{comercio.Nombre}}</a>        @*@Html.ActionLink(wComercio.Nombre, "Productos", "Compras", new { pIdComercio = wComercio.Id }, new { @class = "nombre-comercio" })*@</h4>
                                <div style="padding-top:10px;"><img src="~/Content/Img/Location.png" />{{comercio.Direccion}}</div>
                            </div>
                            <div class="col-lg-10">
                                <p style="padding-left:4px; vertical-align: middle;">{{comercio.Descripcion}}</p>
                            </div>
                            <div class="col-lg-2">
                                @if (wUsuario != null)
                                {
                                    <a ng-show="MostrarFav(comercio.Id);" ng-click="Favorito(comercio.Id,0)"><img src="~/Content/Img/HeartFull.png" class="media-object pull-right" data-toggle="tooltip" data-placement="top" title="Agregar a Favoritos" style="width:30px; height:30px; cursor:pointer;" /></a>
                                    <a ng-show="!MostrarFav(comercio.Id);" ng-click="Favorito(comercio.Id,1)"><img src="~/Content/Img/HeartEmpty.png" class="media-object pull-right" data-toggle="tooltip" data-placement="top" title="Agregar a Favoritos" style="width:30px; height:30px; cursor:pointer;" /></a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var app = angular.module("ComerciosApp", []);

        app.controller("ComercioController", function ($scope, $http) {
            $scope.Favoritos = [];

            var init = function () {
                $http({
                    method: 'GET',
                    url: '@Url.Action("ComerciosFiltro", "Compras")'
                }).then(function (response) {
                    $scope.Comercios = response.data;
                }, function (error) {

                });

                $http({
                    method: 'GET',
                    url: '@Url.Action("ObtenerFavoritos", "Compras")'
                }).then(function (response) {
                    $scope.Favoritos = response.data;
                }, function (error) {

                });
            };


            $scope.Buscar = function () {
                var busqueda = $('#busqueda').val();
                $http({
                    method: 'GET',
                    url: '@Url.Action("ComerciosFiltro", "Compras")',
                    params: { pBusqueda: busqueda }
                }).then(function (response) {
                    $scope.Comercios = response.data;
                }, function (error) {

                });
            }


            $scope.MostrarFav = function (id) {
                var contiene = false;

                for (var i = 0; i < $scope.Favoritos.length; i++) {
                    if ($scope.Favoritos[i].IdComercio == id)
                        contiene = true;
                }

                return contiene;
            }

            $scope.Favorito = function (id, agrega) {
                $http({
                    method: 'GET',
                    url: '@Url.Action("AgregarQuitarFavorito", "Compras")',
                    params: { pIdComercio: id, pAgrega: agrega }
                }).then(function (response) {
                    $scope.Favoritos = response.data;
                }, function (error) {

                });
            }

            init();
        });

    </script>
}




