@model StillFood.Models.UsuarioDireccion


<div class="col-lg-6 form-group">
    <label style="margin-right:10px;">Calle: </label><span>@Model.Calle</span>
</div>
<div class="col-lg-6 form-group">
    <label style="margin-right:10px;">Número: </label><span>@Model.Numero</span>
</div>
<div class="clearfix"></div>
<div class="col-lg-6 form-group">
    <label style="margin-right:10px;">Piso: </label><span>@Model.Piso</span>
</div>
<div class="col-lg-6 form-group">
    <label style="margin-right:10px;">Departamento: </label><span>@Model.Departamento</span>
</div>
<div class="clearfix"></div>
