@model List<StillFood.Models.Comercio>

@{
    StillFood.WEB.Facade.FacadeSecurity wFacade = new StillFood.WEB.Facade.FacadeSecurity();

}
<div class="row">
    <div class="tit-admin">Comercios</div>
</div>
<div class="row">
    <input type="hidden" id="IdComercio" />
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
@if (wFacade.TienePermiso(StillFood.Common.Enums.eRolesPermisos.DarAltaComercio))
{
    <a class="btn btn-success" data-toggle="tooltip" title="Agregar" onclick="AgregarEditarComercio(0)"><i class="glyphicon glyphicon-plus"></i></a>
}
       
        <div class="table-responsive">
            <table id="tblComercios" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var wComercio in Model)
            {
                        <tr>
                                <td>@wComercio.Nombre</td>
                                <td>@wComercio.Direccion</td>
                            <td style="text-align:center;">
                                <a class="btn btn-info" style="margin-left:5px;" data-toggle="tooltip" title="Editar" onclick="AgregarEditarComercio(@wComercio.Id)"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a class="btn btn-danger" style="margin-left:5px;" data-toggle="tooltip" title="Eliminar" onclick="ConfirmaEliminaComercio(@wComercio.Id)"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Alta/Edicion -->
<div class="modal fade" id="NuevoModalComercio" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#A3BD31;color:white;font-size:25px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Comercio</h4>
            </div>
            <div class="modal-body" id="BodyNuevoComercio">
            </div>
            <div class="modal-footer">
                <a class="btn btn-green" onclick="SubmitComercio()">Guardar</a>
                <a class="btn btn-green" data-dismiss="modal">Cancelar</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Eliminacion -->
<div class="modal fade" id="EliminaModalComercio" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FE2E2E;color:white;font-size:25px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Eliminar Comercio</h4>
            </div>
            <div class="modal-body" id="BodyEliminaComercio">
                <h4 style="text-align:center;"><img style="margin-right:5px;" src="~/Content/Img/Alert.png" />¿Está seguro que desea eliminar el registro seleccionado?</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-green" style="width:40px;height:35px;" onclick="EliminarComercio()">Sí</a>
                <a class="btn btn-green" style="width:40px;height:35px;" data-dismiss="modal">No</a>
            </div>
        </div>
    </div>
</div>
